---
layout: page
title: About
subtitle: 一隅之地，用文字记录生活。
permalink: /about/
---

    <p><ul class="about-list">
<!-- 		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/twitter-username"> Twitter</a>
		</li> -->
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/Syang111"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:youremail@example.com?subject=Hello&nbsp;Nice Blog"> Email：yshiyang@163.com</a>
		</li>
	</ul></p>

	
	<h2>技能</h2>
	
<h2>关于博客</h2>
<p>记录生活随想，输出技术文章</p>
<!-- 	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul></p> -->

<h2>关于我</h2>
<p>一个愿意探索并记录这个世界的普通人</p>
     <p><ul class="about-list">
<!-- 		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/twitter-username"> Twitter</a>
		</li> -->
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/Syang111"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="#"> Email：yshiyang@163.com</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
